@import '~antd/dist/antd.css';

#topmenu {
  background-color: rgba(255,255,255,0.5);
  position: fixed;
  width: 100%;
  box-shadow: 0 8px 6px -6px rgba(155,155,155,0.1);
}

#topmenu ul {
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 60px;
}

.featurescolumn {
  float: left;
  width: 33.33%;
  padding: 40px;
  font-family: 'Roboto', Roboto, monospace;
  text-align: center;
}

#topmenu li {
  float: left;
}

#topmenu li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Roboto', Roboto, monospace;
  font-weight: 400;
}

#footercolomn img {
  width: 30px;
  height: 30px;
}
​
body {
  margin: 0;
}
​
.column {
  float: left;
  width: 50%;
  padding: 50px;
  font-family: 'Roboto', Roboto, monospace;
  font-size: 40px;
}

.footercolumn {
  float: left;
  width: 20.00%;
  padding: 20px;
  font-family: 'Roboto', Roboto, monospace;
}

h2 {
  font-size: 22px;
}

p {
  font-size: 16px;
}
​
* {
  box-sizing: border-box;
}
​
#footer ul {
  list-style-type: none;
}